@import url('https://fonts.googleapis.com/css?family=Inter'); 
.App {
  text-align: center;
}

#profile__img{
  height: 5.5rem;
  width: 5.5rem;
}

#slack{
  display: none;
}
.entire-page{
  margin-top: 64px;
}
.share{
  position:absolute;
  padding-left: 18.5rem;
  right: 10%;
}
h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  text-decoration: none;
  
}

.button-link:hover{
  background: #D0D5DD;
}

.button-link{ 
  
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 0.5rem;
  width: 90%;
  height: 4.75rem;
  box-sizing: border-box;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #101828;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
 
}

.subtext{
  margin-top: 5px;
  display: none;
}

.button-link:hover > .subtext{
  color: #eaecf0;
  background-color: #101828;
  display: block;
}

.socials{
    padding-right: 45px;
    margin-top: 24px;
    margin-bottom: 64px;
}

.social-div{
  padding-left: auto;
  padding-right: auto;
}

footer{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #eaecf0;
  margin-top: 48px;
  margin-bottom: 20px;
  color: #667085;
}

@media only screen and (max-width: 1050px) {

  footer{
    display:flex;
    align-items: center;
    flex-direction: column;
    
  }

  .foot-itmes{
    margin-left: 0px;
  }
}
